#header {
    height: 50px;
    background: #20284f;
    color: #ffffff;
}

#branding h1 {
    color: #ffefef;
}

div.breadcrumbs {
    background: #30caa0;
}

a:link, a:visited {
    color: #ffefef;
}

.module h2, .module caption, .inline-group h2 {
    background: #30caa0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #20284f;
}
